@import "/src/styles/colors.css";

.home {
    height: 100%;
}

.tasksFilterContainer {
    margin: 30px 30px 20px;
}

.tasksFilter {
    display: inline;
    margin-right: 20px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
}

.tasksContentContainer {
    border-top: 1px solid var(--border-color);
    width: 100%;
}

.loading {
    position: inherit;
    margin: auto;
    margin-top: 120px;
}

.questionList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.questionListItem {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-color);
    padding: 15px 30px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    user-select: none;
}

.questionListItem:hover {
    background: var(--navigation-highlight-color);
}

.questionTitle {
    display: inline;
    margin-top: 2px;
}