.questionContainer {
    margin: 50px;
    margin-top: 10px;
    width: 700px;
    max-width: 800px;
}


@media (max-width: 900px) {
    .questionContainer {
        width: 70vw;
    }
}

.submitQuestionButton {
    margin-top: 25px;
    padding: 10px;
    width: 200px;
}

.titleContainer {
    height: 40px;
    background: white;
    border: 2px gray solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.titleContainer::placeholder {
    font-size: 16px;
}

.titleContainer:focus {
    outline: none;
    border: 2px solid #44749e;
}

.bodyContainer {
    min-height: 100px;
    max-height: 400px;
    margin-bottom: 20px;
    background: white;
    border: 2px gray solid;
    border-radius: 5px;
    padding: 10px !important;
    box-shadow: none !important;
}

.bodyContainer:focus {
    border: 2px solid #44749e;
}

.noResize {
    resize: none;
}

.assigneeContainer {
    height: 40px;
    background: white;
    border: 2px gray solid;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.assigneeContainer:focus-within {
    border: 2px solid #44749e !important;
}

.assigneeContainer::placeholder {
    font-style: italic;
}