.newConnectionPage {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.newConnectionPaneInitial {
    margin-top: 200px;
}

.connectionSelectorTitle {
    text-align: center;
    margin-bottom: 20px;
}

.connectionSelector {
    display: flex;
    flex-direction: row;
}

.connectionSelection {
    flex: 1;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


.testButton {
    margin-top: 30px;
    background: gray;
    border-color: gray;
    width: 100%;
    height: 40px;
}

.testButton:hover {
    background: #5e5e5e;
}

.submit {
    margin-top: 20px;
    width: 100%;
    height: 40px;
}

.backButton {
    display: block;
    margin-bottom: 20px;
    margin-top: -28px;
}

.credentialsInput {
    height: 100px;
    min-height: 40px;
    max-height: 300px;
}

.result {
    margin-top: 10px;
    text-align: center;
}

.successMessage {
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}

.successButton {
    display: block;
    margin: 30px auto 40px;
}