.newConnectionPage {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.newConnectionPane {
    margin: 160px auto auto;
    width: 400px;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0 0 10px;
    background-color: white;
}

.newConnectionPaneInitial {
    margin-top: 200px;
}

.connectionSelectorTitle {
    text-align: center;
    margin-bottom: 20px;
}

.connectionSelector {
    display: flex;
    flex-direction: row;
}

.connectionSelection {
    flex: 1;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 12px;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
}

.invalidBorder {
    border-color: red;
    outline: none;
}

.testButton {
    margin-top: 30px;
    background: gray;
    border-color: gray;
    width: 100%;
    height: 40px;
}

.testButton:hover {
    background: #5e5e5e;
}

.submit {
    margin-top: 20px;
    width: 100%;
    height: 40px;
}

.backButton {
    display: block;
    margin-bottom: 20px;
}

.credentialsInput {
    height: 100px;
    min-height: 40px;
    max-height: 300px;
}

.result {
    margin-top: 10px;
    text-align: center;
}