@import "/src/styles/colors.css";

.button {
    color: white;
    padding: 5px 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    background: var(--primary-color);
    letter-spacing: 1px;
    transition: all .1s ease-in-out;
}

.secondary {
    background-color: white;
    color: black;
    font-weight: normal;
}

.button:hover {
    background: var(--primary-highlight-color);
}

.backButton {
    cursor: pointer;
}