@import "/src/styles/colors.css";

.button {
    color: white;
    padding: 5px 10px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    background: var(--primary-color);
    letter-spacing: 1px;
    transition: all .1s ease-in-out;
    border: 1px solid #508368;
    user-select: none;
}

.secondary {
    background-color: white;
    color: var(--primary-text-color);
    font-weight: normal;
}

.button:hover {
    background: var(--primary-highlight-color);
}

.backButton {
    display: inline;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    font-weight: 500;
}

.backButton:hover {
    color: var(--primary-highlight-color);
}