@import "/src/styles/colors.css";

.home {
    height: 100%;
    display: flex;
    align-items: stretch;
    place-content: stretch;
}

.loading {
    position: inherit;
    margin: auto;
    margin-top: 120px;
}

.inboxList {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-color);
    width: 400px;
    min-width: 400px;
}

.inboxBody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inboxBodyPlaceholder {
    margin-top: 300px;
    text-align: center;
}