.headerContainer {
    display: flex;
    flex-direction: row;
    height: 50px;
    padding: 20px 72px;
    font-size: 18px;
    align-items: center;
    background: linear-gradient(90deg, rgba(226, 238, 255, 1) 0%, rgba(147, 194, 255, 1) 100%);
    box-shadow: 0 -2px 4px black;
}

@media (max-width: 600px) {
    .headerContainer {
        padding: 24px 48px;
    }
}

.route {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 550;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.route:hover {
    color: gray;
}

.searchBarContainer {
    margin-left: auto;
    width: 50vw;
    max-width: 800px;
}

.profileContainer {
    margin-left: auto;
}