.search {
    text-align: center;
    margin: 20px auto 0;
    width: 70vw;
}

.postTitle {
    text-align: left;
    display: block;
}

.postBody {
    text-align: left;
}

.result {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.results {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.searchBar {
    display: flex;
    width: 100%;
}

.newQuestionPrompt {
    margin-top: 20px;
    display: flex;
    width: 100%;
}

.newQuestionButton {
    height: 30px;
    box-sizing: content-box;
    border: 2px solid black;
    border-radius: 3px;
    background-color: gray;
    margin: auto 10px auto;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.searchButton {
    height: 30px;
    box-sizing: content-box;
    border: 2px solid black;
    border-radius: 3px;
    background-color: black;
    margin-left: 5px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.searchButton:hover {
    background-color: gray;

}

.searchInput {
    width: 100%;
    height: 30px;
}