@import "/src/styles/colors.css";

.resultsContainer {
    text-align: center;
    margin: 40px auto 0;
    width: 70vw;
    max-width: 800px;
}

.resultsTitle {
    margin-bottom: 40px;
    font-size: 20px;
}

.postTitleContainer {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
}

.postTitle {
    text-align: left;
    display: block;
}

.postTitle:hover {
    color: var(--primary-highlight-color);
}

.postBody {
    text-align: left;
}

.result {
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    height: 80px;
}

.results {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.noResults {
    width: fit-content;
    margin: 0;
}