.resultsContainer {
    text-align: center;
    margin: 40px auto 0;
    width: 70vw;
    max-width: 800px;
}

.resultsTitle {
    margin-bottom: 40px;
}

.postTitleContainer {
    margin-bottom: 10px;
}

.postTitle {
    text-align: left;
    display: block;
}

.postBody {
    text-align: left;
}

.result {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.results {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.noResults {
    width: fit-content;
    margin: 0;
}

.newQuestionPrompt {
    margin-top: 20px;
    display: flex;
    width: 100%;
}

.newQuestionButton {
    height: 40px;
    margin: auto 20px;
}